altgraph==0.17.2
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
click==7.1.2
fire==0.4.0
fonttools==4.37.1
future==0.18.2
importlib-metadata==4.12.0
lxml==4.9.1
numpy==1.21.6
opencv-python==4.5.3.56
pdf2docx==0.5.6
pefile==2022.5.30
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
PyMuPDF==1.20.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
python-docx==0.8.11
python-dotenv==0.20.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
six==1.16.0
termcolor==1.1.0
typing_extensions==4.3.0
wincertstore==0.2
zipp==3.8.1
